body {
    background-color: pink;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    margin-top: 120px; 
    text-align: center; 
}

.signature {
    font-family: Shizuru;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.profession {
    font-family: Roboto Mono; 
    font-size: 20px; 
    line-height: 2;
    margin: 2px;
    color: pink;
    white-space: nowrap; 
    animation: slideIn 7s linear infinite;
    display: inline-block; 
}

.arrow {
    font-size: 30px; 
}

.navi {
    font-family: Roboto Mono; 
    font-size: 16px; 
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navi:hover {
    text-decoration: underline;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-40px); 
    }
    100% {
        opacity: 1;
        transform: translateY(40px); 
    }
}

.container-navi {
    display: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-40%);
    z-index: 1000;
    animation: fadeIn 1s ease-in-out;
}

.container-navi.show {
    animation: none; 
    opacity: 1;
    transform: translateY(50px); 
}

footer {
    text-align: center;
    margin-top: auto; 
}

.rights {
    font-family: Roboto Mono; 
    font-size: 12px;
    color: black;
}