body {
    background-color: pink;
    margin: 0;
    display: flex;
    height: 100vh; 
    align-items: center; 
    justify-content: center; 
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signature {
    font-family: Shizuru;
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.profession {
    font-family: Roboto Mono; 
    font-size: 20px; 
    line-height: 2;
    margin: 2px;
    color: pink;
    white-space: nowrap; 
    animation: slideIn 7s linear infinite;
    display: inline-block; 
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
